/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px; }

body {
  color: #333;
  background: #fff;
  font: 16px/1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto; }

.gm-style img {
  max-width: none; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: inherit;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: inherit; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 27px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 21px; }

h5, .h5 {
  font-size: 17px; }

h6, .h6 {
  font-size: 15px; }

p {
  margin: 0 0 1em; }

a {
  color: #39f; }
  a:hover, a:focus {
    text-decoration: none; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 0.4em 0.7em; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    border-color: #333; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #999; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #999; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #999; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #999; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #999; }

select {
  -webkit-border-radius: 0; }

textarea {
  resize: vertical;
  vertical-align: top; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

#wrapper {
  width: 900px;
  height: 900px;
  border: 1px solid #3d3d3d;
  background: #1a1a1a;
  position: relative; }

.wrap {
  top: 300px;
  left: 360px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  position: absolute; }

.main {
  margin: 75px 60px;
  position: relative;
  height: 100px;
  width: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: main-rotate 10s infinite linear;
          animation: main-rotate 10s infinite linear; }

@-webkit-keyframes main-rotate {
  0%, 20%, 60%, 80% {
    -webkit-transform: rotateX(-25deg) rotateY(40deg) rotateZ(-10deg);
            transform: rotateX(-25deg) rotateY(40deg) rotateZ(-10deg); }
  30%, 50%, 90%, 100% {
    -webkit-transform: rotateX(-275deg) rotateY(200deg) rotateZ(-350deg);
            transform: rotateX(-275deg) rotateY(200deg) rotateZ(-350deg); } }

@keyframes main-rotate {
  0%, 20%, 60%, 80% {
    -webkit-transform: rotateX(-25deg) rotateY(40deg) rotateZ(-10deg);
            transform: rotateX(-25deg) rotateY(40deg) rotateZ(-10deg); }
  30%, 50%, 90%, 100% {
    -webkit-transform: rotateX(-275deg) rotateY(200deg) rotateZ(-350deg);
            transform: rotateX(-275deg) rotateY(200deg) rotateZ(-350deg); } }

.cube {
  margin: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .cube > div {
    position: absolute;
    box-sizing: border-box;
    background-color: #bfbfbf;
    -webkit-transition: -webkit-transform 0.2s ease-in;
            transition: transform 0.2s ease-in; }
  .cube .front {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    -webkit-animation: size-1 10s infinite linear;
            animation: size-1 10s infinite linear; }

@-webkit-keyframes size-1 {
  0%, 36%, 74%, 92%, 100% {
    height: 200%;
    width: 200%; }
  44%, 66% {
    height: 100%;
    width: 100%; } }

@keyframes size-1 {
  0%, 36%, 74%, 92%, 100% {
    height: 200%;
    width: 200%; }
  44%, 66% {
    height: 100%;
    width: 100%; } }
  .cube .back {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    -webkit-animation: size-2 10s infinite linear;
            animation: size-2 10s infinite linear; }

@-webkit-keyframes size-2 {
  0%, 36%, 74%, 92%, 100% {
    height: 200%;
    width: 200%; }
  44%, 66% {
    height: 100%;
    width: 100%; } }

@keyframes size-2 {
  0%, 36%, 74%, 92%, 100% {
    height: 200%;
    width: 200%; }
  44%, 66% {
    height: 100%;
    width: 100%; } }
  .cube .top {
    background-color: #595959;
    -webkit-transform: rotateX(-270deg) translateY(-35px);
            transform: rotateX(-270deg) translateY(-35px);
    -webkit-animation: size-3 10s infinite linear;
            animation: size-3 10s infinite linear; }

@-webkit-keyframes size-3 {
  0%, 36%, 74%, 92%, 100% {
    width: 200%;
    height: 35%;
    -webkit-transform: rotateX(-270deg) translateY(-35px);
            transform: rotateX(-270deg) translateY(-35px); }
  44%, 66% {
    width: 100%;
    height: 35%; } }

@keyframes size-3 {
  0%, 36%, 74%, 92%, 100% {
    width: 200%;
    height: 35%;
    -webkit-transform: rotateX(-270deg) translateY(-35px);
            transform: rotateX(-270deg) translateY(-35px); }
  44%, 66% {
    width: 100%;
    height: 35%; } }
  .cube .bottom {
    background-color: #595959;
    -webkit-animation: size-4 10s infinite linear;
            animation: size-4 10s infinite linear; }

@-webkit-keyframes size-4 {
  0%, 36%, 74%, 92%, 100% {
    width: 200%;
    height: 35%;
    -webkit-transform: rotateX(90deg) translateY(-19px) translateZ(-184px);
            transform: rotateX(90deg) translateY(-19px) translateZ(-184px); }
  44%, 66% {
    width: 100%;
    height: 35%;
    -webkit-transform: rotateX(90deg) translateY(-19px) translateZ(-84px);
            transform: rotateX(90deg) translateY(-19px) translateZ(-84px); } }

@keyframes size-4 {
  0%, 36%, 74%, 92%, 100% {
    width: 200%;
    height: 35%;
    -webkit-transform: rotateX(90deg) translateY(-19px) translateZ(-184px);
            transform: rotateX(90deg) translateY(-19px) translateZ(-184px); }
  44%, 66% {
    width: 100%;
    height: 35%;
    -webkit-transform: rotateX(90deg) translateY(-19px) translateZ(-84px);
            transform: rotateX(90deg) translateY(-19px) translateZ(-84px); } }
  .cube .left {
    background-color: #595959;
    -webkit-transform: rotateY(270deg) translateX(-35px);
            transform: rotateY(270deg) translateX(-35px);
    -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
            transform-origin: center left;
    -webkit-animation: size-5 10s infinite linear;
            animation: size-5 10s infinite linear; }

@-webkit-keyframes size-5 {
  0%, 36%, 74%, 92%, 100% {
    width: 35%;
    height: 200%;
    -webkit-transform: rotateY(270deg) translateX(-35px);
            transform: rotateY(270deg) translateX(-35px); }
  44%, 66% {
    width: 35%;
    height: 100%; } }

@keyframes size-5 {
  0%, 36%, 74%, 92%, 100% {
    width: 35%;
    height: 200%;
    -webkit-transform: rotateY(270deg) translateX(-35px);
            transform: rotateY(270deg) translateX(-35px); }
  44%, 66% {
    width: 35%;
    height: 100%; } }
  .cube .right {
    background-color: #595959;
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-animation: size-6 10s infinite linear;
            animation: size-6 10s infinite linear; }

@-webkit-keyframes size-6 {
  0%, 36%, 74%, 92%, 100% {
    width: 35%;
    height: 200%;
    -webkit-transform: rotateY(-270deg) translateZ(165px) translateX(35px);
            transform: rotateY(-270deg) translateZ(165px) translateX(35px); }
  44%, 66% {
    width: 35%;
    height: 100%;
    -webkit-transform: rotateY(-270deg) translateZ(65px) translateX(35px);
            transform: rotateY(-270deg) translateZ(65px) translateX(35px); } }

@keyframes size-6 {
  0%, 36%, 74%, 92%, 100% {
    width: 35%;
    height: 200%;
    -webkit-transform: rotateY(-270deg) translateZ(165px) translateX(35px);
            transform: rotateY(-270deg) translateZ(165px) translateX(35px); }
  44%, 66% {
    width: 35%;
    height: 100%;
    -webkit-transform: rotateY(-270deg) translateZ(65px) translateX(35px);
            transform: rotateY(-270deg) translateZ(65px) translateX(35px); } }

.a {
  -webkit-animation: a 10s infinite ease-in;
          animation: a 10s infinite ease-in; }

@-webkit-keyframes a {
  0%, 10%, 100% {
    -webkit-transform: translateZ(100px) translateX(0px) translateY(0px);
            transform: translateZ(100px) translateX(0px) translateY(0px); }
  18%, 36% {
    -webkit-transform: translateZ(250px) translateX(0px) translateY(0px);
            transform: translateZ(250px) translateX(0px) translateY(0px); }
  44%, 66% {
    -webkit-transform: translateZ(50px) translateX(50px) translateY(50px);
            transform: translateZ(50px) translateX(50px) translateY(50px); }
  74%, 92% {
    -webkit-transform: translateZ(250px) translateX(0px) translateY(-50px);
            transform: translateZ(250px) translateX(0px) translateY(-50px); } }

@keyframes a {
  0%, 10%, 100% {
    -webkit-transform: translateZ(100px) translateX(0px) translateY(0px);
            transform: translateZ(100px) translateX(0px) translateY(0px); }
  18%, 36% {
    -webkit-transform: translateZ(250px) translateX(0px) translateY(0px);
            transform: translateZ(250px) translateX(0px) translateY(0px); }
  44%, 66% {
    -webkit-transform: translateZ(50px) translateX(50px) translateY(50px);
            transform: translateZ(50px) translateX(50px) translateY(50px); }
  74%, 92% {
    -webkit-transform: translateZ(250px) translateX(0px) translateY(-50px);
            transform: translateZ(250px) translateX(0px) translateY(-50px); } }
  .a .back {
    background-color: #333333;
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px); }
  .a .top {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }

.b {
  -webkit-animation: b 10s infinite ease-in;
          animation: b 10s infinite ease-in; }

@-webkit-keyframes b {
  0%, 10%, 100% {
    -webkit-transform: translateZ(-100px) translateX(100px) rotateY(180deg);
            transform: translateZ(-100px) translateX(100px) rotateY(180deg); }
  18%, 36% {
    -webkit-transform: translateZ(-250px) translateX(100px) rotateY(180deg);
            transform: translateZ(-250px) translateX(100px) rotateY(180deg); }
  44%, 66% {
    -webkit-transform: translateZ(-50px) translateX(50px) translateY(50px) rotateY(180deg);
            transform: translateZ(-50px) translateX(50px) translateY(50px) rotateY(180deg); }
  74%, 92% {
    -webkit-transform: translateZ(-250px) translateX(100px) translateY(0px) rotateY(180deg);
            transform: translateZ(-250px) translateX(100px) translateY(0px) rotateY(180deg); } }

@keyframes b {
  0%, 10%, 100% {
    -webkit-transform: translateZ(-100px) translateX(100px) rotateY(180deg);
            transform: translateZ(-100px) translateX(100px) rotateY(180deg); }
  18%, 36% {
    -webkit-transform: translateZ(-250px) translateX(100px) rotateY(180deg);
            transform: translateZ(-250px) translateX(100px) rotateY(180deg); }
  44%, 66% {
    -webkit-transform: translateZ(-50px) translateX(50px) translateY(50px) rotateY(180deg);
            transform: translateZ(-50px) translateX(50px) translateY(50px) rotateY(180deg); }
  74%, 92% {
    -webkit-transform: translateZ(-250px) translateX(100px) translateY(0px) rotateY(180deg);
            transform: translateZ(-250px) translateX(100px) translateY(0px) rotateY(180deg); } }
  .b .back {
    background-color: #333333;
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px); }
  .b .top {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }

.c {
  -webkit-animation: c 10s infinite ease-in;
          animation: c 10s infinite ease-in; }

@-webkit-keyframes c {
  0%, 10%, 100% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    margin: -50px 0 0 0;
    -webkit-transform: rotateY(270deg) rotateZ(90deg) translateY(-50px);
            transform: rotateY(270deg) rotateZ(90deg) translateY(-50px); }
  18%, 36% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    margin: -50px 0 0 0;
    -webkit-transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px);
            transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px); }
  44%, 66% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    margin: 0 0 0 0;
    -webkit-transform: rotateY(270deg) rotateZ(90deg) translateY(0px) translateZ(-50px);
            transform: rotateY(270deg) rotateZ(90deg) translateY(0px) translateZ(-50px); }
  74%, 92% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    margin: -50px 0 0 0;
    -webkit-transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px);
            transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px); } }

@keyframes c {
  0%, 10%, 100% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    margin: -50px 0 0 0;
    -webkit-transform: rotateY(270deg) rotateZ(90deg) translateY(-50px);
            transform: rotateY(270deg) rotateZ(90deg) translateY(-50px); }
  18%, 36% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    margin: -50px 0 0 0;
    -webkit-transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px);
            transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px); }
  44%, 66% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    margin: 0 0 0 0;
    -webkit-transform: rotateY(270deg) rotateZ(90deg) translateY(0px) translateZ(-50px);
            transform: rotateY(270deg) rotateZ(90deg) translateY(0px) translateZ(-50px); }
  74%, 92% {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    margin: -50px 0 0 0;
    -webkit-transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px);
            transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px); } }
  .c .back {
    background-color: #333333;
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px); }
  .c .top {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }

.d {
  -webkit-animation: d 10s infinite ease-in;
          animation: d 10s infinite ease-in; }

@-webkit-keyframes d {
  0%, 10%, 100% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: translateX(115px) translateY(0) translateZ(0) rotateY(90deg);
            transform: translateX(115px) translateY(0) translateZ(0) rotateY(90deg); }
  18%, 36% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg);
            transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg); }
  44%, 66% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: translateX(50px) translateY(50px) translateZ(-50px) rotateY(90deg);
            transform: translateX(50px) translateY(50px) translateZ(-50px) rotateY(90deg); }
  74%, 92% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg);
            transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg); } }

@keyframes d {
  0%, 10%, 100% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: translateX(115px) translateY(0) translateZ(0) rotateY(90deg);
            transform: translateX(115px) translateY(0) translateZ(0) rotateY(90deg); }
  18%, 36% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg);
            transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg); }
  44%, 66% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: translateX(50px) translateY(50px) translateZ(-50px) rotateY(90deg);
            transform: translateX(50px) translateY(50px) translateZ(-50px) rotateY(90deg); }
  74%, 92% {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg);
            transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg); } }
  .d .back {
    background-color: #333333;
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px); }
  .d .top {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }

.f {
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation: f 10s infinite ease-in;
          animation: f 10s infinite ease-in; }

@-webkit-keyframes f {
  0%, 10%, 100% {
    -webkit-transform: rotateX(90deg) translateX(0px) translateY(-100px) translateZ(0px);
            transform: rotateX(90deg) translateX(0px) translateY(-100px) translateZ(0px); }
  18%, 36% {
    -webkit-transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px);
            transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px); }
  44%, 66% {
    -webkit-transform: rotateX(90deg) translateX(50px) translateY(-50px) translateZ(-50px);
            transform: rotateX(90deg) translateX(50px) translateY(-50px) translateZ(-50px); }
  74%, 92% {
    -webkit-transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px);
            transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px); } }

@keyframes f {
  0%, 10%, 100% {
    -webkit-transform: rotateX(90deg) translateX(0px) translateY(-100px) translateZ(0px);
            transform: rotateX(90deg) translateX(0px) translateY(-100px) translateZ(0px); }
  18%, 36% {
    -webkit-transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px);
            transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px); }
  44%, 66% {
    -webkit-transform: rotateX(90deg) translateX(50px) translateY(-50px) translateZ(-50px);
            transform: rotateX(90deg) translateX(50px) translateY(-50px) translateZ(-50px); }
  74%, 92% {
    -webkit-transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px);
            transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px); } }
  .f .back {
    background-color: #333333;
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px); }
  .f .top {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }

.g {
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: g 10s infinite ease-in;
          animation: g 10s infinite ease-in; }

@-webkit-keyframes g {
  0%, 10%, 100% {
    -webkit-transform: translateX(0) rotateX(270deg) translateZ(100px);
            transform: translateX(0) rotateX(270deg) translateZ(100px); }
  18%, 36% {
    -webkit-transform: translateX(0) rotateX(270deg) translateZ(250px);
            transform: translateX(0) rotateX(270deg) translateZ(250px); }
  44%, 66% {
    -webkit-transform: translateX(50px) rotateX(270deg) translateZ(50px) translateY(50px);
            transform: translateX(50px) rotateX(270deg) translateZ(50px) translateY(50px); }
  74%, 92% {
    -webkit-transform: translateX(0px) rotateX(270deg) translateZ(250px) translateY(0px);
            transform: translateX(0px) rotateX(270deg) translateZ(250px) translateY(0px); } }

@keyframes g {
  0%, 10%, 100% {
    -webkit-transform: translateX(0) rotateX(270deg) translateZ(100px);
            transform: translateX(0) rotateX(270deg) translateZ(100px); }
  18%, 36% {
    -webkit-transform: translateX(0) rotateX(270deg) translateZ(250px);
            transform: translateX(0) rotateX(270deg) translateZ(250px); }
  44%, 66% {
    -webkit-transform: translateX(50px) rotateX(270deg) translateZ(50px) translateY(50px);
            transform: translateX(50px) rotateX(270deg) translateZ(50px) translateY(50px); }
  74%, 92% {
    -webkit-transform: translateX(0px) rotateX(270deg) translateZ(250px) translateY(0px);
            transform: translateX(0px) rotateX(270deg) translateZ(250px) translateY(0px); } }
  .g .back {
    background-color: #333333;
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px); }
  .g .top {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center; }

.edges {
  margin: -12px 100px;
  width: 220px;
  height: 220px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
          transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg); }
  .edges > .edge {
    margin: auto;
    position: absolute;
    width: 220px;
    height: 20px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .edges > .edge > div {
      position: absolute;
      background: -webkit-linear-gradient(right, #595959, #404040);
      background: linear-gradient(to left, #595959, #404040);
      box-sizing: border-box;
      -webkit-transition: -webkit-transform 0.2s ease-in;
              transition: transform 0.2s ease-in; }
  .edges .front, .edges .back, .edges .top, .edges .bottom {
    width: 220px;
    height: 20px; }
  .edges .left, .edges .right {
    width: 20px;
    height: 20px; }
  .edges .back {
    -webkit-transform: translateZ(-20px);
            transform: translateZ(-20px); }
  .edges .top {
    -webkit-transform: rotateZ(0deg) rotateX(90deg) translateY(-10px) translateZ(10px);
            transform: rotateZ(0deg) rotateX(90deg) translateY(-10px) translateZ(10px); }
  .edges .bottom {
    -webkit-transform: rotateZ(0deg) rotateX(90deg) translateY(-10px) translateZ(-10px);
            transform: rotateZ(0deg) rotateX(90deg) translateY(-10px) translateZ(-10px); }
  .edges .left {
    -webkit-transform: translateX(-10px) translateZ(-10px) rotateY(90deg);
            transform: translateX(-10px) translateZ(-10px) rotateY(90deg); }
  .edges .right {
    -webkit-transform: translateX(120px) translateZ(-10px) rotateY(90deg);
            transform: translateX(120px) translateZ(-10px) rotateY(90deg); }

.one {
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.two {
  -webkit-transform: translateY(200px) rotateX(180deg) rotateY(180deg);
          transform: translateY(200px) rotateX(180deg) rotateY(180deg); }

.three {
  -webkit-transform: translateZ(-220px) translateY(200px) rotateY(180deg);
          transform: translateZ(-220px) translateY(200px) rotateY(180deg); }

.four {
  -webkit-transform: translateZ(-220px) rotateY(180deg);
          transform: translateZ(-220px) rotateY(180deg); }

.five {
  -webkit-transform: rotateZ(90deg) translateX(100px) translateY(100px);
          transform: rotateZ(90deg) translateX(100px) translateY(100px); }

.six {
  -webkit-transform: rotateZ(90deg) translateX(100px) translateY(-100px);
          transform: rotateZ(90deg) translateX(100px) translateY(-100px); }

.seven {
  -webkit-transform: rotateX(180deg) rotateZ(90deg) translateX(-100px) translateY(100px) translateZ(220px);
          transform: rotateX(180deg) rotateZ(90deg) translateX(-100px) translateY(100px) translateZ(220px); }

.eight {
  -webkit-transform: rotateX(180deg) rotateZ(90deg) translateX(-100px) translateY(-100px) translateZ(220px);
          transform: rotateX(180deg) rotateZ(90deg) translateX(-100px) translateY(-100px) translateZ(220px); }

.nine {
  -webkit-transform: rotateY(-90deg) translateX(-110px) translateZ(110px);
          transform: rotateY(-90deg) translateX(-110px) translateZ(110px); }

.ten {
  -webkit-transform: rotateY(-90deg) rotateX(180deg) translateX(-110px) translateZ(110px);
          transform: rotateY(-90deg) rotateX(180deg) translateX(-110px) translateZ(110px); }

.eleven {
  -webkit-transform: rotateY(-90deg) translateX(-110px) translateZ(110px) translateY(200px);
          transform: rotateY(-90deg) translateX(-110px) translateZ(110px) translateY(200px); }

.twelve {
  -webkit-transform: rotateY(90deg) translateX(110px) translateZ(110px) translateY(200px);
          transform: rotateY(90deg) translateX(110px) translateZ(110px) translateY(200px); }
/*# sourceMappingURL=main.css.map */