$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

#wrapper {
	width: 900px;
	height: 900px;
	border: 1px solid #3d3d3d;
	background: #1a1a1a;
	position: relative
}

.wrap {
	top: 300px;
	left: 360px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	position: absolute;
}

.main {
	margin: 75px 60px;
	position: relative;
	height: 100px;
	width: 100px;
	transform-style: preserve-3d;
	animation: main-rotate 10s infinite linear;
	@keyframes main-rotate {
		0%, 20%, 60%, 80% {
			transform: rotateX(-25deg) rotateY(40deg) rotateZ(-10deg);
		}
		30%, 50%, 90%, 100% {
			transform: rotateX(-275deg) rotateY(200deg) rotateZ(-350deg);
		}
	}
}

.cube {
	margin: auto;
	position: absolute;
	height: 100%;
	width: 100%;
	perspective: 100px;
	transform-style: preserve-3d;
	> div {
		position: absolute;
		box-sizing: border-box;
		background-color: $white-gray;
		transition: transform 0.2s ease-in;
	}
	.front {
		transform: translateZ(0px);
		animation: size-1 10s infinite linear;
		@keyframes size-1 {
			0%, 36%, 74%, 92%, 100% {
				height: 200%;
				width: 200%;
			}
			44%, 66% {
				height: 100%;
				width: 100%;
			}
		}
	}
	.back {
		transform: translateZ(0px);
		animation: size-2 10s infinite linear;
		@keyframes size-2 {
			0%, 36%, 74%, 92%, 100% {
				height: 200%;
				width: 200%;
			}
			44%, 66% {
				height: 100%;
				width: 100%;
			}
		}
	}
	.top {
		background-color: $lighter-gray;
		transform: rotateX(-270deg) translateY(-35px);
		animation: size-3 10s infinite linear;
		@keyframes size-3 {
			0%, 36%, 74%, 92%, 100% {
				width: 200%;
				height: 35%;
				transform: rotateX(-270deg) translateY(-35px);
			}
			44%, 66% {
				width: 100%;
				height: 35%;
			}
		}
	}
	.bottom {
		background-color: $lighter-gray;
		animation: size-4 10s infinite linear;
		@keyframes size-4 {
			0%, 36%, 74%, 92%, 100% {
				width: 200%;
				height: 35%;
				transform: rotateX(90deg) translateY(-19px) translateZ(-184px);
			}
			44%, 66% {
				width: 100%;
				height: 35%;
				transform: rotateX(90deg) translateY(-19px) translateZ(-84px);
			}
		}
	}
	.left {
		background-color: $lighter-gray;
		transform: rotateY(270deg) translateX(-35px);
		transform-origin: center left;
		animation: size-5 10s infinite linear;
		@keyframes size-5 {
			0%, 36%, 74%, 92%, 100% {
				width: 35%;
				height: 200%;
				transform: rotateY(270deg) translateX(-35px);
			}
			44%, 66% {
				width: 35%;
				height: 100%;
			}
		}
	}
	.right {
		background-color: $lighter-gray;
		transform-origin: top right;
		animation: size-6 10s infinite linear;
		@keyframes size-6 {
			0%, 36%, 74%, 92%, 100% {
				width: 35%;
				height: 200%;
				transform: rotateY(-270deg) translateZ(165px) translateX(35px);
			}
			44%, 66% {
				width: 35%;
				height: 100%;
				transform: rotateY(-270deg) translateZ(65px) translateX(35px);
			}
		}
	}
}

.a {
	animation: a 10s infinite ease-in;
	@keyframes a {
		0%, 10%, 100% {
			transform: translateZ(100px) translateX(0px) translateY(0px);
		}
		18%, 36% {
			transform: translateZ(250px) translateX(0px) translateY(0px);
		}
		44%, 66% {
			transform: translateZ(50px) translateX(50px) translateY(50px);
		}
		74%, 92% {
			transform: translateZ(250px) translateX(0px) translateY(-50px);
		}
	}
	.back {
		background-color: $darker-gray;
		transform: translateZ(-35px);
	}
	.top {
		transform-origin: top center;
	}
}

.b {
	animation: b 10s infinite ease-in;
	@keyframes b {
		0%, 10%, 100% {
			transform: translateZ(-100px) translateX(100px) rotateY(180deg);
		}
		18%, 36% {
			transform: translateZ(-250px) translateX(100px) rotateY(180deg);
		}
		44%, 66% {
			transform: translateZ(-50px) translateX(50px) translateY(50px) rotateY(180deg);
		}
		74%, 92% {
			transform: translateZ(-250px) translateX(100px) translateY(0px) rotateY(180deg);
		}
	}
	.back {
		background-color: $darker-gray;
		transform: translateZ(-35px);
	}
	.top {
		transform-origin: top center;
	}
}

.c {
	animation: c 10s infinite ease-in;
	@keyframes c {
		0%, 10%, 100% {
			transform-origin: center left;
			margin: -50px 0 0 0;
			transform: rotateY(270deg) rotateZ(90deg) translateY(-50px);
		}
		18%, 36% {
			transform-origin: center left;
			margin: -50px 0 0 0;
			transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px);
		}
		44%, 66% {
			transform-origin: center left;
			margin: 0 0 0 0;
			transform: rotateY(270deg) rotateZ(90deg) translateY(0px) translateZ(-50px);
		}
		74%, 92% {
			transform-origin: center left;
			margin: -50px 0 0 0;
			transform: rotateY(270deg) rotateZ(90deg) translateY(-50px) translateZ(150px);
		}
	}
	.back {
		background-color: $darker-gray;
		transform: translateZ(-35px);
	}
	.top {
		transform-origin: top center;
	}
}

.d {
	animation: d 10s infinite ease-in;
	@keyframes d {
		0%, 10%, 100% {
			transform-origin: center right;
			transform: translateX(115px) translateY(0) translateZ(0) rotateY(90deg);
		}
		18%, 36% {
			transform-origin: center right;
			transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg);
		}
		44%, 66% {
			transform-origin: center right;
			transform: translateX(50px) translateY(50px) translateZ(-50px) rotateY(90deg)
		}
		74%, 92% {
			transform-origin: center right;
			transform: translateX(250px) translateY(0) translateZ(0) rotateY(90deg);
		}
	}
	.back {
		background-color: $darker-gray;
		transform: translateZ(-35px);
	}
	.top {
		transform-origin: top center;
	}
}

.f {
	transform-origin: center top;
	animation: f 10s infinite ease-in;
	@keyframes f {
		0%, 10%, 100% {
			transform: rotateX(90deg) translateX(0px) translateY(-100px) translateZ(0px);
		}
		18%, 36% {
			transform: rotateX(90deg) translateX(-0) translateY(-100px) translateZ(150px);
		}
		44%, 66% {
			transform: rotateX(90deg) translateX(50px) translateY(-50px) translateZ(-50px);
		}
		74%, 92% {
			transform: rotateX(90deg) translateX(0) translateY(-100px) translateZ(150px);
		}
	}
	.back {
		background-color: $darker-gray;
		transform: translateZ(-35px);
	}
	.top {
		transform-origin: top center;
	}
}

.g {
	transform-origin: center bottom;
	animation: g 10s infinite ease-in;
	@keyframes g {
		0%, 10%, 100% {
			transform: translateX(0) rotateX(270deg) translateZ(100px);
		}
		18%, 36% {
			transform: translateX(0) rotateX(270deg) translateZ(250px);
		}
		44%, 66% {
			transform: translateX(50px) rotateX(270deg) translateZ(50px) translateY(50px);
		}
		74%, 92% {
			transform: translateX(0px) rotateX(270deg) translateZ(250px) translateY(0px);
		}
	}
	.back {
		background-color: $darker-gray;
		transform: translateZ(-35px);
	}
	.top {
		transform-origin: top center;
	}
}

.edges {
	margin: -12px 100px;
	width: 220px;
	height: 220px;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
	> .edge {
		margin: auto;
		position: absolute;
		width: 220px;
		height: 20px;
		transform-style: preserve-3d;
		> div {
			position: absolute;
			background: linear-gradient(to left, #595959, #404040);
			box-sizing: border-box;
			transition: transform 0.2s ease-in;
		}
	}
	.front, .back, .top, .bottom {
		width: 220px;
		height: 20px;
	}
	.left, .right {
		width: 20px;
		height: 20px;
	}
	.front {
	}
	.back {
		transform: translateZ(-20px);
	}
	.top {
		transform: rotateZ(0deg) rotateX(90deg) translateY(-10px) translateZ(10px);
	}
	.bottom {
		transform: rotateZ(0deg) rotateX(90deg) translateY(-10px) translateZ(-10px);
	}
	.left {
		transform: translateX(-10px) translateZ(-10px) rotateY(90deg);
	}
	.right {
		transform: translateX(120px) translateZ(-10px) rotateY(90deg);
	}
}

.one {
	transform: translateZ(0);
}

.two {
	transform: translateY(200px) rotateX(180deg) rotateY(180deg);
}

.three {
	transform: translateZ(-220px) translateY(200px) rotateY(180deg);
}

.four {
	transform: translateZ(-220px) rotateY(180deg);
}

.five {
	transform: rotateZ(90deg) translateX(100px) translateY(100px);
}

.six {
	transform: rotateZ(90deg) translateX(100px) translateY(-100px);
}

.seven {
	transform: rotateX(180deg) rotateZ(90deg) translateX(-100px) translateY(100px) translateZ(220px);
}

.eight {
	transform: rotateX(180deg) rotateZ(90deg) translateX(-100px) translateY(-100px) translateZ(220px);
}

.nine {
	transform: rotateY(-90deg) translateX(-110px) translateZ(110px);
}

.ten {
	transform: rotateY(-90deg) rotateX(180deg) translateX(-110px) translateZ(110px);
}

.eleven {
	transform: rotateY(-90deg) translateX(-110px) translateZ(110px) translateY(200px);
}

.twelve {
	transform: rotateY(90deg) translateX(110px) translateZ(110px) translateY(200px);
}